<div class="grid lg:grid-cols-3 grid-cols-1 gap-8 mt-8 ">
  <div class="w-full">
    <div class="p-4">
      <div class="uppercase tracking-wide text-2xl text-slate-600 font-semibold">
        <%= t(@lm_channel.prefix) %>
      </div>
      <%= turbo_stream_from "lm_channels" %>
      <ul id="lm_channel_<%= @lm_channel.prefix %>" class="mt-2 text-slate-500">
        <%= render partial: "lm_channels/lm_channel", collection: @lm_channels %>
      </ul>
    </div>
  </div>

  <div>
    <div class="p-4">
      <div class="uppercase tracking-wide text-lg text-slate-500 font-semibold"><%= t(@lm_channel.description) %></div>
      <%= turbo_stream_from "lm_channel_values_#{@lm_channel.id}" %>
      <ul id="lm_channel_values"  class="mt-2 text-slate-500">
        <%= render partial: "lm_channel_values/lm_channel_value", collection: @lm_channel_values %>
      </ul>
    </div>
  </div>
</div>

