<div class="grid lg:grid-cols-2 grid-cols-1 gap-8 mb-8">
  <div class="w-max">
    <%= link_to 'Назад', root_path, class: 'bg-indigo-400 text-white rounded px-1 hover:bg-indigo-500 border-l-4 border-indigo-300 hover:border-indigo-400' %>
    <div class="text-slate-700 m-1 text-3xl block">
      <h1><%= tp_channel_prefix_name_helper(@lm_channel) %></h1>
    </div>
    <div class="text-slate-600 m-1 text-2xl block">
      <h2><%= @lm_channel.description %></h2>
    </div>
    <%= turbo_stream_from "lm_channel_values_#{@lm_channel.id}" %>
    <ul id="lm_channel_values">
      <%= render partial: "lm_channel_values/lm_channel_value", collection: @lm_channel_values %>
    </ul>
  </div>

  <div class="p-4 w-96 bg-white rounded-xl shadow-md">
    <ul id="lm_channel_tp6" class="mt-2 text-slate-500">
      <%= render partial: "lm_channels/lm_channel", collection: @lm_channels %>
    </ul>
  </div>
</div>
