<!DOCTYPE html>
<html>
  <head>
    <title>Sk14</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Sk14", root_path, class: 'bg-red-700 hover:bg-red-800 font-bold align-middle text-white p-3' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="grid grid-cols-1">
        <div class=" ">
          <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
            Показатели тепловых пунктов
          </h2>
        </div>

        <div class="">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
